
.button{
    margin: 5px;
    padding: 5px;
    background: black !important;
}
.log-field{
    margin: 3px;
    padding: 3px;
    color: aqua;
}
.login_form{
    margin: auto;
    display: block;
    
}